    body {
        font-family: "Poppins", sans-serif;
        text-align: center;
        /* background: #f3f4f6; */
        color: #222;
        margin: 0;
        padding: 0;
    }
    .video-wrapper {
      background: #f4f4f4;
      padding: 60px 0;
  }
   .video-wrapper .primary-heading {
      font-size: 36px;
      margin: 0 auto;
      /* max-width: 500px; */
    }
    video {
      border: 4px solid #0066cc;
      border-radius: 12px;
      width: 100%;
      height: 360px;
      background: #ffffff;
    }
    .video-outer {
        max-width: 600px;
    }
    .video-outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto 0;
        align-items: center;
        position: relative;
    }
    .video-outer button#camera-btn {
        background-color: #0066cc;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins';
        border: 1px solid #0066cc;
        transition: .3s ease-in-out;
        padding: 10px 18px;
        border-radius: 0 0 10px 10px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        cursor: pointer;
    }
    #emotion {
      margin-top: 15px;
      font-size: 22px;
      font-weight: bold;
      color: #0066cc;
    }
    #status {
      margin-top: 10px;
      font-size: 14px;
      color: #000000;
    }
    footer {
        font-size: 14px;
        color: #000000;
        margin-top: 60px;
        border-top: 1px solid #dddddd;
        padding: 20px 0;
    }    
    .navbar .logo {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
    }
    .navbar .logo img {
        width: 100%;
        max-width: 200px;
    }
    .navbar .nav-links a {
        color: #000000;
        text-decoration: none;
        margin-left: 20px;
        font-size: 16px;
        transition: color 0.3s;
        font-weight: 500;
    }
    .navbar .nav-links a.active {
        color: #0066cc;
    }
    .navbar .nav-links a:hover {
        color: #0066cc;
    }
    header.navbar .container {
      max-width: 1170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
  }
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header.navbar {
      padding: 0;
      background: #ffffff;
      margin: 0;
      box-shadow: 0 0 8px #dddddd;
  }
  .hero {
    background-image: url(../images/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 140px 0;
    position: relative;
  }
  .hero::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    content: "";
    left: 0;
    top: 0;
}
.hero .container {
    z-index: 99;
    position: relative;
}
  .hero h1 {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
}
.hero p {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}
.intro {
    margin: 60px 0;
}
.intro .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
}
.intro img {
    width: 100%;
}
.intro h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.intro p {
    text-align: left;
}
.video-wrapper .content p {
    margin-top: 0;
}
.video-wrapper .content {
    max-width: 940px;
    margin: 0 auto;
}
.features {
    margin: 60px auto;
}
.features h2 {
    margin: 0 0 20px;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.features .feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.features .feature-grid .card {
    padding: 40px 20px;
    box-shadow: 0 0 10px #dddddd;
    border-radius: 12px;
}
.features .card h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0 10px;
    padding: 0;
}
.features .card p {
    padding: 0;
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 500;
}
.features.how-it-works {
    background-color: #efefef;
    padding: 60px 0;
}
.features.how-it-works .feature-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.features.how-it-works .feature-grid .card {
    box-shadow: unset;
    background-color: #ffffff;
}
.applications-section .card .img-wrapper img {
    width: 60px;
}
.applications-section .card h3 {
    margin: 10px 0;
}
.key-features-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.key-features-section .img-wrapper img {
    width: 100%;
}
.key-features-section .content h2 {
    text-align: left;
}
.key-features-section .content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.key-features-section .content ul li:not(:last-child) {
    margin-bottom: 14px;
}
.key-features-section .content ul li h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}
.key-features-section .content ul li p {
    margin: 0;
}
.key-features-section .content ul li {
    position: relative;
    padding-left: 16px;
}
.key-features-section .content ul li::before {
    position: absolute;
    content: "";
    background: #0066cc;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    left: 0;
    top: 10px;
}
.primary-color {
    color: #0066cc;
}
.primary-btn,
.dashboard-btn {
    background-color: #0066cc;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: .3s ease-in-out;
}
.primary-btn:hover {
    opacity: 0.8;
}
.text-left {
    text-align: left;
}
.mt-40 {
    margin-top: 40px;
}
.navbar .nav-links .dashboard-btn {
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 8px 20px;
    transition: .3s ease-in-out;
}
.navbar .nav-links .dashboard-btn:hover {
    color: #ffffff;
    opacity: 0.8;
}
.main-dashboard button.primary-btn {
    font-family: 'Poppins';
    border: 1px solid #0066cc;
}


@media (max-width: 991px) {
    .features.how-it-works .feature-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .navbar .logo img {
        max-width: 140px;
    }
    .mobile-hide {
        display: none;
    }
    .features h2,
    .hero h1,
    .intro h2,
    .video-wrapper .primary-heading {
        font-size: 30px;
    }
    .intro img {
        margin-top: 20px;
    }
    .hero {
        padding: 80px 0;
    }
    .features.how-it-works .feature-grid, 
    .features .feature-grid,
    .key-features-section .row,
    .intro .row {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 575px) {     
    video {
    height: 300px;
    }    
}